*{
	box-sizing: border-box;
}
body{
	font-size: 12px;
	color: #fff;
	background-color: #61122f;
	font-family: italic;
}
#header-nav{
	background-color: #f6b319;
    /*border-radius: auto;
    border:auto;*/ 
    height: 150px;

}
#logo-img{
	background: url('../images/images.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;	
}
#title{
	text-align: center;
    padding-bottom: 20px;
}
#wwe{
	font-family: italic;
	font-size: 35px;
	padding-right: 5px;
	padding-left: 5px;
}
#wwf{
	background: grey;
	padding-left: 5px;
	padding-right: 5px;
}
#pk{
	text-align: center;
}


		   @media (min-width:1200px){
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11,  .col-lg-12{
	float: left;
	/*border:2px solid black;*/
} 
.col-lg-1{
	width: 8.33%;
}
.col-lg-2{
  width: 16.66%;
}	
.col-lg-3{
	width: 25%;
}
.col-lg-4{
	width: 33.33%;
}
.col-lg-5{
	width: 41.66%;
}
.col-lg-6{
	width: 50%;
}
.col-lg-7{
	width: 58.33%;
}
.col-lg-8{
	width: 66.66%;
}
.col-lg-9{
	width: 75%;
}
.col-lg-10{
	width: 83.33%;
}
.col-lg-11{
	width: 91%;
}
.col-lg-12{
	width: 100%;
}
}
@media (min-width: 950px) and (max-width: 1199px){
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11,  .col-md-12{
	float: left;
	/*border: 2px solid black;*/
}

.col-md-1{
	width: 8.33%;
}
.col-md-2{
  width: 16.66%;
}	
.col-md-3{
	width: 25%;
}
.col-md-4{
	width: 33.33%;
}
.col-md-5{
	width: 41.66%;
}
.col-md-6{
	width: 50%;
}
.col-md-7{
	width: 58.33%;
}
.col-md-8{
	width: 66.66%;
}
.col-md-9{
	width: 75%;
}
.col-md-10{
	width: 83.33%;
}
.col-md-11{
	width: 91%;
}
.col-md-12{
	width: 100%;
}
}
@media (max-width: 949px){
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11,  .col-sm-12{
	float: left;
	/*border: 2px solid black;*/
}

.col-sm-1{
	width: 8.33%;
}
.col-sm-2{
  width: 16.66%;
}	
.col-sm-3{
	width: 25%;
}
.col-sm-4{
	width: 33.33%;
}
.col-sm-5{
	width: 41.66%;
}
.col-sm-6{
	width: 50%;
}
.col-sm-7{
	width: 58.33%;
}
.col-sm-8{
	width: 66.66%;
}
.col-sm-9{
	width: 75%;
}
.col-sm-10{
	width: 83.33%;
}
.col-sm-11{
	width: 91%;
}
.col-sm-12{
	width: 100%;
}
}

#sidebarMenu ul li {
	padding-left: 45%;
	width: 100%;
	font-size: 30px;
	list-style-type: none;
}
#sidebarMenu {
	background-color: lightgreen;
}
#sidebarMenu li{
	border-bottom: 1px solid black;
	width: 100%;
}

#sidebarMenu ul li a{
	color: white;
	text-decoration: none;
}
.toggle-btn{
	position: absolute;
	left:150px;
	top: 15px;
}
.toggle-btn span{
	display: block;
	background-color: black;
	width: 30px;
	height: 5px;
	margin: 3px;
}
